@charset "UTF-8";

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

/* ELEMENTOS DA INTERFACE */

body {
    background-color: #cd7aa6;
    background-image: linear-gradient(180deg, #cd7aa6, #b58ea3);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

header, main, section, article {
    max-width: 700px;
}

header > h1 {
    color: white;
    text-shadow: 3px 3px 0px #cd7aa64e;
}

main, section, article {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 0px 20px #cd7aa64e;
}

footer {
    display: block;
    width: 100vw;
    background-color: #cd7aa6;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 5px;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

h2, h3, h4 {
    color: #cd7aa6;
    margin: 0 0 10px 0;
}

a {
    color: #cd7aa6;
    background-color: #cd7aa64e;
    padding: 0 3px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: .5px dotted #cd7aa6;
}

a:hover {
    color: #cd7aa6;
    border-bottom: 1px solid #cd7aa6;
}